{% load thumbnail %}
<!--Захотелось красоты и индивидуальности:)-->
<div class="card mb-4">
  <div class="card-header d-flex justify-content-between">
    <div>
      {% if show_author %}
      <strong>Автор:</strong>
      <a href="{% url 'posts:profile' post.author.username %}">
      <span>{{ post.author }}</span>
      </a>
      <br>
      {% endif %}
      <strong>Опубликовано:</strong> {{ post.created|date:"d E Y" }}
      {% if show_category %}
      {% if post.group %} 
      <br>
      <strong>Категория:</strong>
      <a href="{% url 'posts:group_posts' post.group.slug %}">
      <span>{{ post.group.title }}</span>
      </a>
      {% endif %}
      {% endif %}
    </div>
    <div>
      {% if post.author == request.user %}
      <h4><a href="{% url 'posts:post_edit' post.pk %}" title="Редактировать пост">
        <i class="bi bi-pencil-square mr-1"></i>
      </a>
      <a href="{% url 'posts:post_remove' post.pk %}" title="Удалить пост">
        <i class="bi bi-x-lg"></i>
      </a></h4>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ post.text }}</p>
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <hr>
    <a href="{% url 'posts:post_detail' post.pk %}" class="btn btn-primary">Подробнее</a>
  </div>
</div>


