{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Пост {{ post.text|slice:"0:30" }}
{% endblock title %}
{% block header %}
Публикация от <i>{% if post.author.get_full_name %}
{{ post.author.get_full_name }}
        {% else %}
        {{ post.author.username }}
        {% endif %}</i>
{% endblock header %}
{% block content %}
<div class="row mt-4">
  <aside class="col-12 col-md-3">
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">Дата публикации:</h6>
          <small class="text-body-secondary">{{ post.created|date:"d E Y" }}</small>
        </div>
      </li>
      {% if post.group %} 
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">Категория:</h6>
        </div>
        <a href="{% url 'posts:group_posts' post.group.slug %}">
          {{ post.group.title }}
          </a>
      </li>
      {% endif %}
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">Все публикации автора:</h6>
        </div>
        <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.posts.all|length }}
        </a>
      </li>
    </ul>
  </aside>

  <article class="col-12 col-md-9">
    <div class="card mb-4">
      <div class="card-body">
    <p>
      {{ post.text }}
    </p>
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    {% if request.user == post.author %}
    <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">
      редактировать запись
    </a>
    {% endif %}
  </div>
</div>
    {% load user_filters %}
    {% if user.is_authenticated %}
      <div class="card my-3">
        <h5 class="card-header">Добавить комментарий:</h5>
        <div class="card-body">
          <form method="post" action="{% url 'posts:add_comment' post.id %}">
            {% csrf_token %}      
            <div class="form-group mb-2">
              {{ form.text|addclass:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
          </form>
        </div>
      </div>
    {% endif %}
{% if comments %}
<h5>Комменатрии пользователей</h5>
{% endif %}
    {% for comment in comments %}
      <div class="card mt-2">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6">
              <small class="text-muted">Автор: 
                <a href="{% url 'posts:profile' comment.author.username %}">
                  {{ comment.author.username }}
                </a>
              </small><br>
              <small class="text-muted">{{ comment.created }}</small>
            </div>
            {% if comment.author == request.user %}
            <div class="col-sm-6 text-right">
              <small>
              <a href="{% url 'posts:remove_comment' comment.pk %}" title="Удалить пост">
                Удалить комментарий
              </a>
            </small>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{ comment.text }}</p>
        </div>
      </div>
    {% endfor %}
  </article>
</div> 
{% endblock content%}