{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
{% if request.user == author %}
Ваш профайл
{% else %}
{% if author.get_full_name %}
{{ author.get_full_name }}
{% else %}
{{ author.username }}
{% endif %}
профайл пользователя
{% endif %}
{% endblock title %}
{% block header %}
{% if request.user == author %}
Ваш профайл
{% else %}
Профайл пользователя {% if author.get_full_name %}
  {{ author.get_full_name }}
  {% else %}
  {{ author.username }}
  {% endif %}
  {% endif %}
{% endblock %}
{% block content %}     
<p class='text-muted'><strong>Всего публикаций:</strong> {{ author.posts.all|length }} </p>
<div class="mb-3">
  {% if request.user != author %}
    {% if following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
      >
        Отписаться
      </a>
    {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
    {% endif %}
   {% endif %}
</div>
{% for post in page_obj %}
{% include 'includes/post_list.html' with show_author=False show_category=True %}
{% endfor %} 
{% include 'includes/paginator.html' %}          
<hr>
{% endblock content %}   